<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="carFactory" class="com.jiangjian.study.java.advanced.spring.ioc.Factory"/>

    <bean id="car" factory-bean="carFactory" factory-method="getCar">
        <constructor-arg name="name" value="rongwei"/>
        <constructor-arg name="manufacturer" value="shanghai qiche"/>
    </bean>

    <bean id="mountain" class="com.jiangjian.study.java.advanced.spring.ioc.MountainFactoryBean"/>

    <bean class="com.jiangjian.study.java.advanced.spring.ioc.ConstrucotrInjectWithPrimaryArg">
        <constructor-arg name="age" value="10"/>
        <constructor-arg name="name" value="jiangjian"/>
    </bean>
</beans>